[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pygobject = "*"
moderngl = "*"
moderngl-window = "*"
numpy = "*"

[dev-packages]
autopep8 = "*"
flake8 = "*"
rope = "*"

[requires]
python_version = "3.14"
python_full_version = "3.14.3"

[scripts]
start = "python pixelalchemy.py"
test = "python ./compute_sample/compute_texture_gray_shared.py"
format = "autopep8 -ivr ."
lint = "flake8 --show-source ."
